**/luau_packages/
**/lune_packages/
**/roblox_packages/

**/packages
**/pesde.lock
**/node_modules/
**/network/server.luau
**/network/client.luau
**/dist/
**/default.project.json
pkgs/_foreign_*
!pkgs/conch_standalone/default.project.json

/out
/local
**/.pesde

/docs/node_modules/
/docs/.vitepress/cache

**/sourcemap.json

**.rbxm

todo
